@import "mocha.css";

* {
  color: @text;
  padding: 0;
  margin: 0;

  /* font-family: "Product Sans", "Fira Sans"; */
  font-family: "Product Sans", "CaskaydiaCove NF";
  font-weight: 600;
}

window#waybar {
  background: none;
  background-color: alpha(@base, 0.9);
  border: 2px solid alpha(@blue, 0.9);
  border-radius: 4px;
  /* padding: 0 10px; */
}

.modules-left {
  padding-left: 6px;
}

.modules-center {
}

.modules-right {
  padding-right: 12px;
}

#workspaces {
}

#workspaces button {
  padding-right: 1px;
}
